@using Capstone.Web.Models
@model SurveyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="text-align:center">Favorite Park Survey!</h1>

@using (Html.BeginForm("Survey", "Survey", FormMethod.Post))
{
    <div class="formInputGroupGroup">
        @Html.Label("ParkCode", "Select your favorite park! ")
        @Html.DropDownListFor(m => m.ParkCode, SurveyModel.ParkCodes)
    </div>
    <div class="formInputGroupGroup">
        @Html.Label("EmailAddress", "Email Address: ")
        @Html.TextBoxFor(m => m.EmailAddress)
    </div>
    <div class="formInputGroupGroup">
        @Html.Label("States", "Select your State ")
        @Html.DropDownListFor(m => m.State, SurveyModel.States)
    </div>
    <div class="formInputGroupGroup">
        @Html.Label("ActivityLevel", "Select your activity level ")
        @Html.DropDownListFor(m => m.ActivityLevel, SurveyModel.ActivityLevels)
    </div>
    <div class="formInputGroupGroup">
        <button>Submit!</button>
    </div>
}

